### Data Transform using Melt then Pivot Table

#### INFORM Index & Indicators data transformation formatted for time series forecasting

https://pandas.pydata.org/docs/reference/api/pandas.melt.html

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("INFORM2024_TREND_2014_2023_v67_ALL.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473668 entries, 0 to 473667
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Iso3            473668 non-null  object
 1   IndicatorId     473668 non-null  object
 2   IndicatorName   472511 non-null  object
 3   IndicatorScore  473668 non-null  float64
 4   SurveyYear      473668 non-null  int64
 5   Indicator Type  473668 non-null  object
 6   INFORMYear      473668 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 25.3+ MB

In [4]:
df.head()

,Iso3,IndicatorId,IndicatorName,IndicatorScore,SurveyYear,Indicator Type,INFORMYear
0,AFG,AFF_DR,People affected by drought (absolute) - raw,886000.000000,2022,Core Indicators,2024
1,AGO,AFF_DR,People affected by drought (absolute) - raw,197920.457143,2022,Core Indicators,2024
2,ALB,AFF_DR,People affected by drought (absolute) - raw,91428.571429,2022,Core Indicators,2024
3,ARE,AFF_DR,People affected by drought (absolute) - raw,0.000000,2022,Core Indicators,2024
4,ARG,AFF_DR,People affected by drought (absolute) - raw,1000.914286,2022,Core Indicators,2024

In [5]:
df = df.drop(columns=['Indicator Type', 'SurveyYear', 'IndicatorId'])
df

,Iso3,IndicatorName,IndicatorScore,INFORMYear
0,AFG,People affected by drought (absolute) - raw,886000.000000,2024
1,AGO,People affected by drought (absolute) - raw,197920.457143,2024
2,ALB,People affected by drought (absolute) - raw,91428.571429,2024
3,ARE,People affected by drought (absolute) - raw,0.000000,2024
4,ARG,People affected by drought (absolute) - raw,1000.914286,2024
...,...,...,...,...
473663,GNB,Population living in slums (% of urban populat...,60.810370,2024
473664,GTM,Population living in slums (% of urban populat...,37.600000,2024
473665,GUY,Population living in slums (% of urban populat...,12.140200,2024
473666,HTI,Population living in slums (% of urban populat...,48.900000,2024
473667,IDN,Population living in slums (% of urban populat...,19.410830,2024

In [6]:
df1 = pd.melt(df, 
              id_vars=['INFORMYear', 'Iso3', 'IndicatorName'], 
              var_name='IndicatorScore', 
              value_name='Score')
df1

,INFORMYear,Iso3,IndicatorName,IndicatorScore,Score
0,2024,AFG,People affected by drought (absolute) - raw,IndicatorScore,886000.000000
1,2024,AGO,People affected by drought (absolute) - raw,IndicatorScore,197920.457143
2,2024,ALB,People affected by drought (absolute) - raw,IndicatorScore,91428.571429
3,2024,ARE,People affected by drought (absolute) - raw,IndicatorScore,0.000000
4,2024,ARG,People affected by drought (absolute) - raw,IndicatorScore,1000.914286
...,...,...,...,...,...
473663,2024,GNB,Population living in slums (% of urban populat...,IndicatorScore,60.810370
473664,2024,GTM,Population living in slums (% of urban populat...,IndicatorScore,37.600000
473665,2024,GUY,Population living in slums (% of urban populat...,IndicatorScore,12.140200
473666,2024,HTI,Population living in slums (% of urban populat...,IndicatorScore,48.900000
473667,2024,IDN,Population living in slums (% of urban populat...,IndicatorScore,19.410830

In [9]:
df1 = df1.drop(columns='IndicatorScore')
df1

,INFORMYear,Iso3,IndicatorName,Score
0,2024,AFG,People affected by drought (absolute) - raw,886000.000000
1,2024,AGO,People affected by drought (absolute) - raw,197920.457143
2,2024,ALB,People affected by drought (absolute) - raw,91428.571429
3,2024,ARE,People affected by drought (absolute) - raw,0.000000
4,2024,ARG,People affected by drought (absolute) - raw,1000.914286
...,...,...,...,...
473663,2024,GNB,Population living in slums (% of urban populat...,60.810370
473664,2024,GTM,Population living in slums (% of urban populat...,37.600000
473665,2024,GUY,Population living in slums (% of urban populat...,12.140200
473666,2024,HTI,Population living in slums (% of urban populat...,48.900000
473667,2024,IDN,Population living in slums (% of urban populat...,19.410830

In [10]:
# Pivot the melted DataFrame to create individual columns for each indicator
df1 = df1.pivot_table(index=['INFORMYear', 'Iso3'], 
                      columns='IndicatorName', 
                      values='Score').reset_index()
df1

IndicatorName,INFORMYear,Iso3,% of Populations at risk of Plasmodium falciparum malaria,% of Populations at risk of Plasmodium vivax malaria,Access to Health Care,Access to electricity,Access to improved sanitation facilities,Access to improved water source,Adult literacy rate,Adult prevalence of HIV-AIDS,...,Urban population growth,Urban population growth (annual %),Vets per capita,Violent Conflict probability Score,Volume of remittances,Vulnerability Index,Vulnerable Groups,WaSH (FW borne),Wash (P2P),Waterborne - Foodborne
0,2015,AFG,0.872426,0.908841,8.9,45.300000,6.5,8.3,9.9,0.15,...,9.1,4.531768,0.008513,10.0,0.4,7.7,6.7,6.2,6.5,7.1
1,2015,AGO,0.996012,0.996146,7.7,19.400000,6.0,9.3,6.2,2.85,...,9.7,4.853340,0.000933,3.1,0.0,5.1,4.4,7.3,7.0,7.8
2,2015,ALB,0.000000,0.000000,3.7,49.974998,0.3,1.4,0.6,0.15,...,3.3,1.646116,0.043124,0.1,3.6,2.5,2.4,0.5,0.8,3.3
3,2015,ARE,0.000000,0.000000,1.5,50.000000,0.2,0.0,2.1,0.15,...,2.6,1.318987,0.003350,0.1,NaN,1.0,0.9,0.1,0.1,3.2
4,2015,ARG,0.000000,0.000000,1.3,50.000000,0.6,0.2,0.2,0.60,...,2.5,1.239639,0.024787,0.3,0.0,1.9,1.4,0.4,0.4,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1905,2024,WSM,0.000000,0.000000,6.3,49.250002,0.4,1.6,0.2,NaN,...,1.9,0.928355,0.004769,0.0,10.0,3.7,1.0,1.0,1.3,5.2
1906,2024,YEM,0.685021,0.419070,6.5,38.688599,5.1,7.9,NaN,0.15,...,7.6,3.796455,0.001715,10.0,0.0,8.2,8.6,5.0,5.6,6.5
1907,2024,ZAF,0.125373,0.249348,4.5,45.200002,2.4,1.2,1.1,14.15,...,3.1,1.557749,0.003141,7.8,0.1,4.6,4.9,2.3,3.0,4.1
1908,2024,ZMB,1.000000,1.000000,5.7,25.992558,7.6,6.9,2.6,10.40,...,8.0,4.009238,0.009208,0.4,0.3,5.9,5.3,6.4,7.2,6.1
1909,2024,ZWE,0.000000,0.000000,6.6,27.039964,7.2,7.5,2.1,10.80,...,4.6,2.308437,0.033776,0.6,3.3,5.3,4.6,6.8,6.4,5.2

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Columns: 240 entries, INFORMYear to Waterborne - Foodborne
dtypes: float64(238), int64(1), object(1)
memory usage: 3.5+ MB

In [13]:
df2 = pd.read_excel('Country name + Iso.xlsx')
df2

                  COUNTRY Iso3
0             Afghanistan  AFG
1                  Angola  AGO
2                 Albania  ALB
3    United Arab Emirates  ARE
4               Argentina  ARG
..                    ...  ...
186                 Samoa  WSM
187                 Yemen  YEM
188          South Africa  ZAF
189                Zambia  ZMB
190              Zimbabwe  ZWE

[191 rows x 2 columns]

In [14]:
df2 = pd.merge(df2, df1, on='Iso3', how='left')

In [15]:
df2

,COUNTRY,Iso3,INFORMYear,% of Populations at risk of Plasmodium falciparum malaria,% of Populations at risk of Plasmodium vivax malaria,Access to Health Care,Access to electricity,Access to improved sanitation facilities,Access to improved water source,Adult literacy rate,...,Urban population growth,Urban population growth (annual %),Vets per capita,Violent Conflict probability Score,Volume of remittances,Vulnerability Index,Vulnerable Groups,WaSH (FW borne),Wash (P2P),Waterborne - Foodborne
0,Afghanistan,AFG,2015,0.872426,0.908841,8.9,45.300000,6.5,8.3,9.9,...,9.1,4.531768,0.008513,10.0,0.4,7.7,6.7,6.2,6.5,7.1
1,Afghanistan,AFG,2016,0.856048,0.892630,8.6,37.200000,6.4,7.7,9.9,...,8.0,3.996008,0.009460,10.0,0.6,7.8,7.3,6.0,6.3,6.9
2,Afghanistan,AFG,2017,0.857293,0.893252,8.6,48.949998,6.2,7.2,9.9,...,6.9,3.452643,0.007469,10.0,1.2,7.8,7.4,5.7,6.1,7.3
3,Afghanistan,AFG,2018,0.857636,0.893572,8.3,48.949998,6.0,6.6,9.9,...,7.6,3.781557,0.005934,10.0,1.5,7.7,7.3,5.5,5.9,6.6
4,Afghanistan,AFG,2019,0.856141,0.892437,8.0,47.065439,5.8,6.1,9.0,...,7.7,3.850833,0.005934,10.0,1.5,8.3,8.6,5.3,5.7,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1905,Zimbabwe,ZWE,2020,0.993045,0.000000,6.5,25.991047,7.1,7.4,2.3,...,4.0,1.992352,0.033776,0.9,2.2,6.0,6.3,6.8,6.4,5.2
1906,Zimbabwe,ZWE,2021,0.000000,0.000000,6.6,28.723835,7.2,7.5,2.3,...,4.3,2.130421,0.033776,0.8,2.8,6.0,6.2,6.8,6.4,5.2
1907,Zimbabwe,ZWE,2022,0.000000,0.000000,6.6,27.039964,7.2,7.5,2.1,...,4.5,2.234724,0.033776,0.7,2.3,6.0,6.2,6.8,6.4,5.2
1908,Zimbabwe,ZWE,2023,0.000000,0.000000,6.6,27.039964,7.2,7.5,2.1,...,4.6,2.308437,0.033776,0.7,3.3,5.2,4.6,6.8,6.4,5.2
1909,Zimbabwe,ZWE,2024,0.000000,0.000000,6.6,27.039964,7.2,7.5,2.1,...,4.6,2.308437,0.033776,0.6,3.3,5.3,4.6,6.8,6.4,5.2

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Columns: 241 entries, COUNTRY to Waterborne - Foodborne
dtypes: float64(238), int64(1), object(2)
memory usage: 3.5+ MB

In [18]:
import os 

# Define the folder path where you want to save the DataFrames
folder_path = '~/Desktop/CodeOp/DSF02/Group Project'

# Construct the file path
file_path = os.path.join(folder_path, f"2015-2024 Index Indicator df.csv")

# Save each DataFrame as a separate CSV file in the specified folder
df2.to_csv(file_path, index=False)